<div class="container">
    <div class="row justify-content-center">
            <div class="col-md-6 text-center" ng-controller="UsermenuCtrl as vm">
                <h2>Menu de opciones para {{vm.tipo}}</h2><br>
                <ul>
                    <li class="menu-btn ">
                        <button ng-click="" class="template-btn btn-lg btn-block">Editar información</button>
                    </li><br>
                    <li class="menu-btn ">
                        <button ng-click="" class="template-btn btn-lg btn-block">Editar vacantes</button>
                    </li><br>
                    <li class="menu-btn ">
                            <button ng-click="" class="template-btn btn-lg btn-block">Ver solicitudes</button>
                    </li><br>
                    <li class="menu-btn ">
                        <button ng-click="" class="template-btn btn-lg btn-block">Ver entrevistas</button>
                    </li><br>
                    <li class="menu-btn ">
                        <button ng-click="" class="template-btn btn-lg btn-block">Cerrar Sesion</button>
                    </li>
                    </li>
                </ul>
            </div>
    </div>
</div>


    